.cerita {
    // background: #a55e3c;
    background: #a55e3c;
    // padding: 0;
    overflow: clip;
    // @media screen and (max-width:768px) {
    //    padding: 0 0 30vh;
    // }
    &::before {
        content: "";
        position: absolute;
        top: -10vh;
        width: 100%;
        height: 100px;
        left: 0;
        right: 0;
        background: #a55e3c;
    }

    .abs {
        position: absolute;
        &-3 {
            left: 0;
            top: 0;
            bottom: 0;
            // width: auto;
            height: 140%;
            @media screen and (max-width:768px) {
                left: 0;
                bottom: -78vh;
                width: fit-content;
                height: auto;
            }
            @media screen and (min-width:1600px) {
                left: 0;
                top: 0;
                bottom: 0;
                height: 100%;
            }
        }
        &-2 {
            left: 35vw;
            top: -12vh;
            bottom: 0;
            // width: auto;
            height: 80%;
            @media screen and (max-width:768px) {
                left: initial;
                bottom: -8vh;
                width: fit-content;
                height: auto;
                transform: rotate(-29deg);
                right: 0;
            
            }
            @media screen and (min-width:1600px) {
                left: 25vw;
                top: -12vh;
                bottom: 0;
                height: 80%;
            }
        }
        &-1 {
            left: -20vw;
            width: auto;
            height: 140%;
            bottom: -10vh;
            @media screen and (max-width:768px) {
                left: -76vw;
                width: auto;
                height: 80%;
                bottom: -20vh;
            
            }

            @media screen and (min-width:1900px) {
                left: -20vw;
                // width: auto;
                height: 100%;
                bottom: -10vh;
            }
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
        &-rel {
            bottom: -46vh;
            left: -36vw;
            width: auto;
            height: 100%;
            @media screen and (max-width:768px) {
                left: -100vw;
            }
            @media screen and (min-width:1400px) {
                bottom: -40vh;
                left: -50vw;
                // width: auto;
                // height: 100%;
            }
        }

        @keyframes banner {
            0% {
                transform: rotateY(0deg);
                bottom: 30%;//-100px;
                left: 5%;
                // opacity: 0;
            }
            20% {
                // transform: rotateY(0deg);
                bottom: 30%;//-100px;
                left: 5%;
                // opacity: .3;
            }
            50% {
                // transform: rotateY(0deg);
                bottom: 70%;
                left: -30%;
                // opacity: 1;
            }
            51% {
                // transform: rotateY(180deg);
                bottom: calc(50% + 300px);
                left: -55%;
                // opacity: 1;
            }
            100% {
                // transform: rotateY(180deg);
                bottom: 30%;
                left: 5%;
                // opacity: 0;
            }
        }

        @keyframes banner-mob {
            0% {
                transform: rotateY(0deg);
                bottom: 18vh;//-100px;
                left: 12%;
                // opacity: 0;
            }
            20% {
                // transform: rotateY(0deg);
                bottom: 18vh;//-100px;
                left: 12%;
                // opacity: .3;
            }
            50% {
                // transform: rotateY(0deg);
                bottom: 40vh;
                left: -60%;
                // opacity: 1;
            }
            51% {
                // transform: rotateY(180deg);
                bottom: 43vh;
                left: -62%;
                // opacity: 1;
            }
            100% {
                // transform: rotateY(180deg);
                bottom: 18vh;
                left: 12%;
                // opacity: 0;
            }
        }
        &.mobil-1 {
            left: 5%;
            bottom: 30%;
            height: 250px;
            // opacity: 0;
            width: fit-content;
            animation: linear infinite;
            animation-name: banner;
            animation-duration: 12s;
            @media screen and (max-width:768px) {
                height: 18vh;
                bottom: 18vh;
                left: 12%;
                animation: linear infinite;
                animation-name: banner-mob;
                animation-duration: 15s;
            }
        }



        &.mobil-2 {
            left: 20%;
           
            bottom: 10vh;
            height: 30vh;
            z-index: 1;
            @media screen and (max-width:768px) {
                left: initial;
                height: 18vh;
                bottom: 10vh;
                right: 6vw;
            }
            .lala {
                position: relative;
                z-index: 2;
            }

            @keyframes Gali {
                0%, 100% {
                    transform: rotate(-5deg);
                    top: 2%;
                    left: -40%;
                }
                50% {
                    transform: rotate(-15deg);
                    top: 4%;
                    left: -36%;
                }
              }
            .gali {
                animation: Gali 2s linear infinite;
                position: absolute;
                left: -40%;
                width: 120px;
                top: 2%;
                transform: rotate(-5deg);
                height: 120px;
                z-index: 1;
                @media screen and (max-width:768px) {
                    width: 100px;
                    height: 100px;
                    left: -50%;
                    
                }
                @media screen and (max-width:400px) {
                    width: 80px;
                    height: 80px;
                    left: -40%;
                }
            }
        }
        &.kereta-1 {
            bottom: 0;
            left: 8vw;
            display: none;
            @media screen and (max-width:768px) {
                bottom: 5vh;
            }
        }

        @keyframes kereta {
            0% {
                // transform: rotateY(0deg);
                bottom: -20vh;//-100px;
                left: 15vw;
                // opacity: 0;
            }
            30% {
                // transform: rotateY(0deg);
                bottom: -20vh;//-100px;
                left: 15vw;
                // opacity: .3;
            }
            50% {
                // transform: rotateY(0deg);
                bottom: 50vh;
                left: -45vw;
                // opacity: 1;
            }
            51% {
                // transform: rotateY(180deg);
                bottom: 55vh;
                left: -50vw;
                // opacity: 1;
            }
            100% {
                // transform: rotateY(180deg);
                bottom: -20vh;
                left: 15vw;
                // opacity: 0;
            }
        }

        @keyframes kereta-mob {
            0% {
                // transform: rotateY(0deg);
                bottom: -3vh;//-100px;
                left: 12%;
                // opacity: 0;
            }
            30% {
                // transform: rotateY(0deg);
                bottom: -3vh;//-100px;
                left: 12%;
                // opacity: .3;
            }
            50% {
                // transform: rotateY(0deg);
                bottom: 20%;
                left: -70%;
                // opacity: 1;
            }
            51% {
                // transform: rotateY(180deg);
                bottom: 22%;
                left: -83%;
                // opacity: 1;
            }
            100% {
                // transform: rotateY(180deg);
                bottom: -3vh;
                left: 12%;
                // opacity: 0;
            }
        }

        &.kereta-2 {
            bottom: -10vh;
            animation: linear infinite;
            animation-name: kereta;
            animation-duration: 10s;
            left: 15vw;
            z-index: 2;
            height: fit-content;
            // width: 33vw;
            @media screen and (max-width:768px) {
                bottom: -3vh;
                left: 8%;
                height: 180px;
                animation: linear infinite;
                animation-name: kereta-mob;
                animation-duration: 12s;
            }
        }
    }

    .wrap-detikx {
        margin-top: -50vh;
        @media screen and (max-width:768px) {
            margin-top: -100vh;
        }
    }

    .judul {
        color: #ffe473;
        font-size: 2.2rem;
        text-align: right;
        @media screen and (max-width:768px) {
            font-size: 1.8rem;
            text-align: left;
        }
    }

    .content {
        text-align: right;
        color: white;
        padding: 8px 8px;
        margin-bottom: 10vh;
        border-radius: 16px;
        background: linear-gradient(to bottom, transparent, rgba(#a55e3c,.7));
        @media screen and (max-width:768px) {
            text-align: left;
            margin-bottom: 20vh;
        }
        &.mar-bot {
            @media screen and (max-width:768px) {
                margin-bottom: 50vh;
            }
        }
    }

}