section {
    padding: 32px 0;
    // background: $red;
    min-height: 100vh;
    z-index: 11;
    background: #eee;
    position: relative;
}

.wrap-detikx {
    width: 700px;
    margin: 0 auto;
    @media screen and (max-width:766px) {
        width: 90%;
        margin: 0 auto;
        display: block;
    }
    // font-size: 1.2rem;
    // line-height: 1.6rem;
   
}

.totop {
    position: relative;
    z-index: 19;
}

.firstletter {
    &::first-letter {
        float: left;
        font-weight: bold;
        margin-right: 8px;
        font-size: 60px;
        font-size: 6rem;
        line-height: 40px;
        line-height: 4rem;
        height: 4rem;
        text-transform: uppercase;
    }
}

main {
    overflow-x: clip;
}
html,
body {
position: relative;
height: 100%;
// font-family: 'Outfit';
// overflow-x: hidden;
font-family: 'Poppins';
@media screen and (max-width:768px) {
    // overflow-x: hidden;
}
h2, h3 {
    // font-family: 'Outfit';
    font-weight: 700;
    font-family: 'Poppins';
}
}