.lautan-pasir {
    padding: 32px 0 90px;
    .judul {
        font-size: 2.8rem;
        @media screen and (max-width:768px) {
            font-size: 1.8rem;
        }
    }

    .awan {
        position: absolute;
        bottom: -16px;
        left: 0;
        right: 0;
        width: 100%;
        height: auto;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

   

    .batas {
        position: absolute;
        top: -8vh;
        left: 0;
        right: 0;
        @media screen and (max-width:768px) {
            // display: none;
        }
        &::before {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 200px;
            background: linear-gradient(to top,#eee, transparent);
            @media screen and (max-width:768px) {
                background: transparent;
            }
        }
    }

    .img {
        width: 100%;
        height: 420px;
        border-radius: 16px;
        box-shadow: 3px 3px 5px #bbb;
        @media screen and (max-width:768px) {
            height: 320px;
        }
        img {
            width: 100%;
            border-radius: 16px;
            height: 100%;
            object-fit: cover;
        }
    }
    .content {
        margin: 16px 0;
    }
}