.malang {
    background: #d7f0f7;
    padding: 0;
    .judul {
        font-size: 3.3rem;
        @media screen and (max-width:768px) {
            font-size: 2.8rem;
        }
    }
    .helping {
        position: absolute;
        inset: 0;
        background: linear-gradient(to top, #c5d566 22%, #d7f0f7 20%);
        @media screen and (max-width:768px) {
            background: linear-gradient(to top, #c5d566 63%, #d7f0f7 20%);
            
        }
        @media screen and (max-width:405px) {
            background: linear-gradient(to top, #c5d566 67%, #d7f0f7 20%);
        }
    }

    .tahu-telur {
        position: absolute;
        top: 55%;
        right: 30%;
        width: 220px;
        height: auto;
        @media screen and (max-width:768px) {
            position: absolute;
            top: 26%;
            right: 70%;
            width: 76px;
            height: auto;
        }
        @media screen and (max-width:405px) {
            top: 28%;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .stick-judul {
        font-size: 3.5rem;
        top: 28%;
        right: 7%;
        width: 30%;
        /* text-align: right; */
        position: absolute;
        text-align: center;
        line-height: 3rem;
        text-shadow: 3px 3px silver;
        @media screen and (max-width:768px) {
            font-size: 2.5rem;
            top: 10%;
            line-height: 2rem;
            right: 5%;
            width: 70%;
            text-align: right;
            position: absolute;
            
        }
    }

    .hello {
        margin-bottom: 30vh;
        background: linear-gradient(to bottom, white, rgba(white,.8));
        padding: 16px;
        border-radius: 16px;
        @media screen and (max-width:768px) {
            margin-bottom: 10vh;
        }
    }
    .wrap-detikx {
        position: relative;
        top: -90vh;
        @media screen and (max-width:768px) {
            top: -60vh;
        }
    }

    .taman {
        position: absolute;
        top: 10%;
        right: 0;
        width: 70%;
        height: auto;
        @media screen and (max-width:768px) {
            width: 100%;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}