@import 'init';
@import 'sunset';
@import 'cerita';
@import 'credit';

.ref {
    background: #f7c58d;
    padding: 0;
    // &::before {
    //     content: "";
    //     background: url('../img/1x/bg-peta.png') 100% 100% fixed no-repeat;
    // }
    .secx {
        &.kuliner {
            min-height: auto;
        }
        min-height: 100vh;
        position: relative;
        .img {
            width: 100%;
            height: 320px;
            border-radius: 16px;
            box-shadow: 2px 3px 4px #000;
            @media screen and (max-width:768px) {
                height: 220px;
            }
            img {
                width: 100%;
                height: 100%;
                border-radius: 16px;
                object-fit: cover;
            }
        }
        &.banners {
            height: 100vh;
            position: relative;
            z-index: 19;
            background: #f7c58d;
            // &::before {
            //     content: "";
            //     background: url('../img/1x/kotak.png');
            // }
            .bumper {
                position: absolute;
                bottom: 80px;
                left: 50%;
                width: 80%;
                height: auto;
                transform: translate(-50%,0);
            
                @media screen and (max-width:768px) {
                    bottom: 150px;
                    width: 100%;
                }
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }

            .mobil {
                position: absolute;
                right: -16%;
                bottom: 25%;
                width: fit-content;
                height: auto;
                @media screen and (max-width:768px) {
                    width: 120%;
                    right: -33%;
                }
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .title {
                text-transform: uppercase;
                position: absolute;
                left: 50%;
                width: 80%;
                text-align: center;
                color: #8b5e49;
                top: 20%;
                transform: translate(-50%,-50%);
                h2 {
                    font-weight: 400 !important;
                    line-height: 3rem;
                    font-size: 3rem;
                    font-family: 'Alfa Slab One', sans-serif;
                    @media screen and (max-width:768px) {
                        font-size: 2rem;
                        line-height: 2rem;
                        
                    }
                }
                @media screen and (max-width:768px) {
                    width: 100%;
                }
            }
        }
        
        .judul {
            font-size: 3rem;
            @media screen and (max-width:768px) {
                font-size: 2.2rem;
            }
        }

        &.bromo {
            // color: red;
            .bromo-kecil {
                position: relative;
                .awan {
                    position: absolute;
                    width: 40px;
                    right: 30%;
                    top: -15%;
                    height: 40px;
                    object-fit: contain;
                }
                width: 60%;
                margin: 0 auto;
                height: 200px;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
                @media screen and (max-width:768px) {
                    width: 100%;
                }
            }
        }
    }
    .ke-bromo {
        height: 50vh;

        position: relative;
        margin: 90px auto;
        width: 50%;
        @media screen and (max-width:768px) {
            height: 300px;
        width: 100%;    
        }
        .tpt {
            position: absolute;
            inset: 0;
            width: 100%;
            height: auto;
        }
        .mbl {
            position: absolute;
            width: 50%;
            height: auto;
            bottom: 0;
            left: 10%;
            @media screen and (max-width:768px) {
                left: 30%;
            }
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

footer {
	width: 100vw;
	height: 10px;
	position: sticky;
	bottom: 0;
    z-index: 19;
	left: 0;
	background: #f7c58d;
    @media screen and (max-width:768px) {
        bottom: 60px;
        height: 10px;
    }
}

#footer__progress_bar {
	height: 10px;
	background: #cc9a60;
	width: 0%;
    position: relative;
    text-align: left;
}

.imgs {
    position: absolute;
    width: 100px;
    height: 100px;
    right: 0;
    top: -60px;
    @media screen and (max-width:768px) {
        top: -56px;
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}


.tes {
    width: 80%;
    height: auto;
    margin: 0 auto;
    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}
.sharetest {
    display: none;
    @media screen and (max-width:768px) {
        position: fixed;
        z-index: 28;
        height: 59px;
        display: block;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        background: #ccc;
        
    }
}

.credit {
    &::before {
        border-top: 40px solid #f7c58d !important;
        @media screen and (max-width:768px) {
            border-top: 30px solid #cc9a60 !important;
            top: 15px;
        }
    }
}

.hari {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba($color: #000000, $alpha: .5);
    transition: 1s;
    .lala {
        position: absolute;
        left: 50%;
        top: 50%;
        text-align: center;
        color: white;
        transform: translate(-50%,-50%);
        h5 {
            font-size: 3rem;
            @media screen and (max-width:768px) {
                font-size: 2rem;
            }
        }
    }
}
.gunung .hari {
    display: block;
}

.berita {
    .bg-peta{
        position: fixed;
        inset: 0;
        opacity: .5;
        width: 100%;
        height: auto;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .merdeka {
        background: transparent !important;
        position: relative;
        overflow: initial;
        &::before {
            background: transparent !important;
        }
        .hello {
            padding: 16px 200px 16px 16px;
            @media screen and (max-width:768px) {
                padding: 16px 16px 90px 16px;
            }
        }
        .abs.mobil-2{
            right: -5% !important;
            left: initial;
            bottom: 20vh;
            // height: 30vh;
            // z-index: 1;
            @media screen and (max-width:768px) {
                bottom: -5%;
            }
        }
    }

}

.hello {
    background: rgba($color: white, $alpha: .4);
    padding: 16px;
    border-radius: 16px;
    margin-bottom: 24px;
}