.sunset {
    // overflow: clip;
    padding-top: 0;
    background: #f1a04b;
    padding-bottom: 1px;
    .help-bg {
        position: absolute;
        top: -8vh;
        left: 0;
        right: 0;
        width: 100%;
        height: auto;
        transform: rotate(180deg);
        z-index: 2;
        @media screen and (max-width:768px) {

            top: 0;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    .bg {
        background: linear-gradient(to top, #f0a24b 25%, #fb3d36 25%);
        position: absolute;
        inset: 0;
        // background: green;
        @media screen and (max-width:768px) {
            background:linear-gradient(to top, #f0a24b 37%, #fb3d36 37%)
        }
    }
    .img {
        width: fit-content;
        height: auto;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    .awan {
        position: absolute;
        top: 25%;
        left: 15%;
        height: auto;
        width: 300px;
        @media screen and (max-width:768px) {
            width: fit-content;
            
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    .pulau {
        position: absolute;
        bottom: 20vh;
        left: 50%;
        z-index: 2;
        width: 50%;
        height: auto;
        transform: translate(-50%,0);
        @media screen and (max-width:768px) {
            width: 100%;
            height: auto;
            bottom: 35vh;
        }
    }
    .pulau-bayangan {
        position: absolute;
        bottom: 0vh;
        left: 50%;
        z-index: 2;
        width: 70%;
        height: auto;
        transform: translate(-50%,0);
        @media screen and (max-width:768px) {
            width: 150%;
            height: fit-content;
            bottom: 25vh;
        }
    }
    .matahari {
        position: absolute;
        bottom: 15vh;
        left: 50%;
        z-index: 1;
        width: 30%;
        height: auto;
        transform: translate(-50%, 0);
        @media screen and (max-width:768px) {
            width: 50%;
            height: auto;
            bottom: 35vh;
        }
    }

    .awan-atas {
        position: absolute;
        bottom: -5%;
        z-index: 3;
        left: 50%;
        transform: translate(-50%,0);

        // right: 0;
        width: 120%;
        height: auto;
        @media screen and (max-width:768px) {
            bottom: -1%;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .wrap-detikx {
        margin-top: -50vh;
    }

    @keyframes burung {
        0%, 100% {
          bottom: 50vh;
          opacity: 0;
          transform: scale(0);
        }
        20% {
            bottom: 50vh;
            opacity: 0;
            transform: scale(0);
        }
        30% {
            bottom: 50vh;
            opacity: 1;
            transform: scale(1);
        }
        50% {
          bottom: 52vh;
          opacity: 1;
          transform: scale(1);
        }
        70% {
            bottom: 55vh;
            transform: scale(1);
            opacity: .5;
        }
        80% {
            bottom: 55vh;
            opacity: 0;
            transform: scale(0);
        }
        100% {
            bottom: 55vh;
            opacity: 0;
            transform: scale(0);
        }
      }
    .burung {
        animation: burung 15s linear infinite;
        position: absolute;
        opacity: 0;
        right: 15vw;
        bottom: 50vh;
        @media screen and (max-width:768px) {
            bottom: 60vh;
        }
    }
    
    .judul {
        text-align: center;
        color: white;
        font-size: 2.8rem;
        margin-bottom: 16px;
        text-shadow: 3px 3px #600603;
        @media screen and (max-width:768px) {
            font-size: 1.8rem;
        }
    }
    .hello {
        background: rgba(#fc7c2c, .8);
        padding: 16px;
        border-radius: 16px;
        margin-bottom: 10vh;
        &.mar-bot {
            margin-bottom: 70vh;
        }
        p,li {
            color: white;
        }
    }


    .abs {

        display: none;
        @media screen and (max-width:768px) {
            left: -6%;
            z-index: 4;
            display: block;
            bottom: -15%;
            position: absolute;
            transform: rotate(130deg);
            width: 115%;
            height: auto;
        
        }
          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}