.video {
    // position: absolute;
    // inset: 0;
    background: #0d5d6f;
    @media screen and (max-width:768px) {
        min-height: auto;
    }
    &::before {
        background-image: url('../img/1x/kotak.png');
        opacity: .1;
        content: "";
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
    }
    .alls {
        position: relative;
        height: 100vh;
        @media screen and (max-width:768px) {
            height: 230px;
        }
        iframe {
            width: 100%;
            height: 100%;
            filter: drop-shadow(2px 4px 6px black);
            object-fit: cover;
            /* box-shadow: 2px 3px 5px #bbb; */
            border-radius: 16px;
        }
        .frame {
            transform: translate(-50%,-50%);
            top: 50%;
            left: 50%;
            position: absolute;
            // inset: 16px;
            width: 100%;   
            height: 100%;
      
        }
        .tripod {
            position: absolute;
            left: -15%;
            bottom: 0;
            width: 120px;
            height: 320px;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
}